.containerMain {
  background-color: #f8f8fb;
  padding: 40px 20px;
}

.containerLogin {
  padding: 0px;
  margin-top: 20px;
  background-color: white;
}

.containerTitle {
  background-color: #d4dbf9;
  display: flex;
  align-items: center;
  padding: 10px 10px 0 10px;
  justify-content: space-between;
}

.imgProfile {
  width: 160px;
}

.loginTitle {
  color: #556ee6;
  font-size: 18px;
  font-weight: 600;
}

.loginSubtitle {
  color: #556ee6;
  font-size: 17px;
  font-weight: 400;
  margin-top: 10px;
}

.containerForm {
  margin-top: 40px;
  padding: 20px 20px 40px 20px;
}

.formLabel {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #495057;
  font-weight: 500;
}

.formInput {
  padding: 10px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.buttonLogin {
  width: 100%;
  margin-top: 40px;
  padding: 15px;
  background-color: #485ec4;
  color: white;
  border: none;
  border-radius: 0.4rem;
}

.containerTextRegister {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.spanTextRegister {
  color: #485ec4;
  font-weight: 600;
  text-decoration: none;
}

@media (min-width: 868px) {
  .containerLogin {
    width: 600px;
  }

  .containerMain {
    display: flex;
    justify-content: center;
  }
}
